:root {
    --primary-color: #ffc16c;
    --secondary-color: #e84e74;
    --background-color: #293969;
    --background-color-2: rgba(41, 57, 105, 0.4);
    --text-color: #fcf5e5;
    --text-color-2: #fcf5e5;
    --shadow-color: #0000004d;
}
